@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn {
        @apply self-center h-8 px-3 rounded-xl border dark:border-white border-black dark:bg-transparent bg-transparent text-black dark:text-white;
    }

    .input-text {
        @apply rounded-xl h-8 bg-transparent border text-white px-3;
    }

    .cards {
        @apply rounded-2xl drop-shadow-md grow p-5 shadow-sm shadow-white self-stretch text-black dark:text-white bg-white dark:bg-black min-w-[330px] justify-self-stretch;
    }

    .loading * {
        @apply animate-spin
    }

    .loading-search * {
        @apply animate-ping
    }

    .padding {
        @apply px-8 py-8 md:px-32 max-w-[1600px];
    }

    .sun-icons {
        @apply h-16 w-16
    }

    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}